.ingredient-editor {
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow-y: scroll;
  max-height: 300px;
}

.ingredient-grid {
  display: grid;   
  grid-template-columns: 1fr 50px 80px 150px 44px;
  gap: 10px;
}

.ingredient-grid-header {
  opacity: 0.7;
  font-size: 12px;
}

.ingredient-grid-header >div {
  padding-left: 2px;
}

